<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:fragment="site-head"></head>
<body>

<header th:fragment="logged-out" th:remove="tag">
    <header>
        <a href="user/login.html" th:href="@{/users/login}">login</a>
        <a href="user/registration.html" th:href="@{/users/registration}">Registration</a>
        <!--        <a href="user/webUnderCon.html" th:href="@{/users/createpost}">createpost</a>-->
    </header>
</header>

<header th:fragment="logged-in" th:remove="tag">
        <!--        <form method="get" th:action="@{/users/createpost}" >-->
        <!--            <input type="submit" value="createpost">-->
        <!--        </form>-->
        <header>
             <b>Logged in as:</b>
             <label th:text="${session.loggedUser.profile.fullName}"></label> | <label th:text="${session.loggedUser.profile.emailAddress}"></label>
<!--            | <label th:text="${session.loggedUser.username}"></label>-->
             <p><a href="user/create.html" th:href="@{/posts/newpost}">createpost</a></p>
             <form method="post" th:action="@{/users/logout}">
             <input type="submit" value="logout">
              </form>
        </header>

</header>

</body>
</html>